# Built application files
*.apk
*.aar
*.aab

# Gradle files
.gradle/
build/
app/build/

# Local configuration file (sdk path, etc)
local.properties
/local.properties

# Secrets & Environment variables
.env
debug.keystore
*.jks
*.keystore
my-upload-key.jks

# Log files
*.log

# Android Studio / IntelliJ IDEA
*.iml
.idea/
.kotlin/
.externalNativeBuild/
.cxx/
captures/

# OS specific files
.DS_Store
Thumbs.db
